@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    padding-top: 5rem;
    height: 100vh;
    color: white;
  }

.li{
    border-bottom: 1px solid white;
}

.intro, .circle{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
