@tailwind base;
@tailwind components;
@tailwind utilities;

main{
    padding-top: 5rem;
    height: 100vh;
    color: white;
    font-family: "Montserrat", serif;
}

h1, span{
    font-family: "Merriweather", serif;
}

h1{
    font-size: 7rem;
    text-align: justify;
}

p{
    text-align: justify;
}

.intro, .circle{
    width: 450px;
    height: 300px;
}